<div class="main-container">
  <div class="container" fxLayout="column" fxLayoutAlign="space-between none">
    <div class="header-wrap" fxFlex="10" fxLayout="row">
      <div class="heading" fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
        <h1>Drives</h1>
      </div>
      <div fxFlex="80" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="drive-head-card" fxLayout="row" fxLayoutAlign="space-around center">
          <div>
            <h2>Active</h2>
            <p>XXXXXXXXX</p>
          </div>
          <!-- <div class="active-spin">
            <span class="spinner-text">{{value}}%</span>
            <mat-spinner [diameter]="70" [mode]="mode" [value]="value">
            </mat-spinner>
          </div> -->
        </mat-card>
        <mat-card class="drive-head-card" fxLayout="row" fxLayoutAlign="space-around center">
          <div>
            <h2>In-Active</h2>
            <p>XXXXXXXXX</p>
          </div>
          <!-- <div class="in-active-spin">
            <span class="spinner-text">{{value1}}%</span>
            <mat-spinner [diameter]="70" [mode]="mode" [value]="value1">
            </mat-spinner>
          </div> -->
        </mat-card>
      </div>
    </div>
    <div>
      <!-- <app-table></app-table> -->
      <app-cards></app-cards>
    </div>
  </div>
</div>