<div class="main-container">
  <div class="container" fxLayout="column" fxLayoutAlign="space-between none">
    <!-- <div class="breadcrum-wrap" fxFlex="6" fxLayout="row">
      <p>Drives</p>
    </div> -->
    <div class="header-wrap" fxFlex="15" fxLayout="row">
      <div class="heading" fxFlex="20" fxLayout="column" fxLayoutAlign="center start">
        <h1>Drives</h1>
      </div>
      <div fxFlex="70" fxLayout="row" fxLayoutGap="2.5%" fxLayoutAlign="start end">
        <mat-card class="drive-head-card" fxLayout="row" fxLayoutGap="10%" fxLayoutAlign="space-around center">
          <div>
            <h4>Active</h4>
            <div class="m-l-15">
              <h2>654321</h2>
            </div>
          </div>
          <div class="active-spin">
            <span class="spinner-text">{{value}}%</span>
            <mat-spinner [diameter]="65" [mode]="mode" [strokeWidth]="6" [value]="value">
            </mat-spinner>
          </div>
        </mat-card>
        <mat-card class="drive-head-card" fxLayout="row" fxLayoutGap="10%" fxLayoutAlign="space-around center">
          <div>
            <h4>In-Active</h4>
            <div class="m-l-15">
              <h2>123456</h2>
            </div>
          </div>
          <div class="in-active-spin">
            <span class="spinner-text">{{value1}}%</span>
            <mat-spinner [diameter]="65" [strokeWidth]="6" [mode]="mode" [value]="value1">
            </mat-spinner>
          </div>
        </mat-card>
      </div>
      <div class="m-t-15" fxFlex="15" fxLayout="column" fxLayoutAlign="start end">
        <app-username></app-username>
      </div>
    </div>
    <div>
      <!-- <app-table></app-table> -->
      <app-cards></app-cards>
    </div>
  </div>
</div>