/* .container
{
  height:100vh;
  background: #c7c2c2;
} */

  /* border-radius: 15px 15px 0px 0px;
  background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px ); */
/* border-radius: 10px; */
/* .mat-card-avatar
{
  width: 70px;
  height:70px;
  margin-left: 60px;
} */

/* mat-form-field
{
  padding-top: 5px;
  width:100%;
} */
/* .mat-card-content, .login-btn
{
  margin-top: 5%;
} */
/* .left-card-header h1{
  text-align: center;
  font-size: 47px;
  font-weight: 500;
}
.left-card-header
{
  height:100%;
  border-radius: 15px 15px 0px 0px;
} */
/* .login-svg
{
  margin-top: 10%;
  width: 35px;
  padding: 10px;
  border-radius: 50px;
background: linear-gradient(145deg, #44a1d0, #50c0f7);
box-shadow:  5px 5px 9px #1e485c,
             -5px -5px 9px #78ffff;
}
.login-svg svg
{
  margin-left: 10%;
} */