<div class="login-wrap" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="right-card">
        <mat-card-header fxLayoutAlign="center center">
            <div class="cardHeader" fxLayout="column" fxLayoutAlign="center center">
                <h1>Login</h1>
                <p>Enter the credentials here</p>
            </div>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field class="inputs" appearance="outline" fxLayoutAlign="center center">
                <mat-label class="input-label">Username</mat-label>
                <mat-icon matPrefix class="pre-input">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="8" fill="#fff" r="4" />
                        <path d="M20,19v1a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V19a6,6,0,0,1,6-6h4A6,6,0,0,1,20,19Z"
                            fill="#fff" />
                    </svg>
                </mat-icon>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field class="inputs" appearance="outline" fxLayoutAlign="center center">
                <mat-label class="input-label">Password</mat-label>
                <mat-icon matPrefix class="pre-input"><svg xmlns="http://www.w3.org/2000/svg" height="48px"
                        viewBox="0 0 24 24" width="48px" fill="#FFFFFF">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M12.65 10C11.7 7.31 8.9 5.5 5.77 6.12c-2.29.46-4.15 2.29-4.63 4.58C.32 14.57 3.26 18 7 18c2.61 0 4.83-1.67 5.65-4H17v2c0 1.1.9 2 2 2s2-.9 2-2v-2c1.1 0 2-.9 2-2s-.9-2-2-2h-8.35zM7 14c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z" />
                    </svg></mat-icon>
                <input matInput type="text" autocomplete="off">
                <mat-hint align="end" class="input-label"><a href="#">Forgot Password ?</a></mat-hint>
            </mat-form-field>
            <div class="login-btn" fxLayoutAlign="center">
                <button mat-button class="login-btn" (click)="checkLogin()">Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>