/* You can add global styles to this file, and also import other style files */

@font-face
{
    font-family: MyMontserrat;
    src:url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face
{
    font-family: MyNunito;
    src: url(./assets/fonts/font-nunito/Nunito-SemiBold.ttf) format('truetype');
}
/* #E24439 , #F5736F */
*
{
    font-family: MyNunito;
}

/* -------------------------- Common Component ------------------------------*/

body { margin: 0;}
.mat-typography h1,.mat-typography h2,.mat-typography h3,.mat-typography h4,.mat-typography h5,.mat-typography h6
{
    font-family: MyMontserrat;
    margin: 0px;
    color:#6c757d;
}
.mat-typography p
{
    margin:0px;
    color:#313538;
}
.mat-typography h1
{
    font-size: 35px;
}
.mat-typography h2
{
    font-size: 25px;
}
.mat-typography h3
{
    font-size: 20px;
}
.mat-typography h4
{
    font-size: 17px;
}
.mat-typography h5
{
    font-size: 10px;
}
.mat-typography h6
{
    font-size: 5px;
}
.h-w-100
{
    height: 100%;
    width:100%;
}
.w-100
{
    width: 100%;
}
.h-80
{
    height:80%;
}
.txt-ovrflw
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.m-t-15{
    margin-top: 1.5%;
}
.m-l-15
{
    margin-left: 15%;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding:10px 0px 10px 0px;
    }
.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix
{ top:0px;}
.main-container
{
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container{
    height:95vh;
    background: #D9E1F7;
    margin-right: 20px;
    width:100%;
    border-radius: 0px 10px 10px 0px;
}

.mat-card-header-text
{
    margin:0px !important;
}
.mat-button
{
    background: #C4D3F9;
}
    .mat-icon-button, .mat-stroked-button {
    color: #fff;
}
.mat-button .mat-button-focus-overlay {
    background-color: #fff;
    }
.mat-card-content
{
    margin: 0px;
}
.mat-card
{
    border-radius: 8px !important;
    padding: 0px !important;
}
/* ------------------------------------- Mat-Table ----------------------------------------*/
table{
    width: 100%;
}
.mat-table
{
    background-color: transparent;
    /* overflow: scroll; */
}
.mat-table th
{
    background-color: #51469D;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.mat-table tr.mat-header-row
{
    height:45px;
}
.mat-row:nth-child(n) {
    background-color: #ffffff;
  }
.mat-row:nth-child(2n) {
    background-color: #C4D3F9;
  }
.mat-table tr.mat-row
{
    height:38px;
}
.table-wrap
{
    border-radius: 8px;
    margin: 1.5%;
    border: 2px solid #51469D;
}
.data-table
{
    height:349px;
    overflow: auto;
    width:auto;
}
.mat-header-cell:first-child {
    /* margin-left:2px; */
    /* border-top-left-radius: 8px; */
  }
  .mat-header-cell:last-child {
    /* padding-right:12px; */
    /* border-top-right-radius: 8px; */
  }
  .action svg
  {
      width:25px;
      height:25px;
  }
  .table-footer .mat-paginator
  {
    background: #51469D;
    height:40px;    
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    color: rgb(255 255 255);
}
.table-footer .mat-icon-button.mat-button-disabled.mat-button-disabled {

    color: rgba(255, 255, 255, 0.342);
}
  /* .mat-paginator-container {
    min-height: 45px;
    height: 45px;
    position: sticky;
} */
.table-footer .mat-paginator-container {
    min-height: 40px;
}
/* .body-wrap
{
    height:80%;
} */

/* -------------------------------------- Username Component -------------------------------------*/
.username
{
    padding: 5px 10px !important;
    min-width: 180px;
    text-align: center;
}


/* -------------------------------------- Cards Component -------------------------------------*/
.card-wrap
{
    /* background:rgb(148, 92, 92); */
    height: 420px;
    /* overflow: scroll; */
    border-radius: 8px;
    margin: 1.5%;
    border: 2px solid #51469D;
    flex-wrap: wrap;
    /* padding-top: 5px; */
    /* align-content: flex-end; */
}
.drive-card
{
    width:23.6%;
    height: 25.5%;
    margin: 0.7%;
}
.drive-card-circle
{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin: 0px 10px 0px 5px;
    background: #52469d73;
}
.card-footer
{
    position: relative;
    bottom: 0;
    width: 100%;
}
.drive-head
{
    height: 30%;
    margin-bottom: 2.5% !important;
    margin-right: 5% !important;
}
/* ------------------------------------------ Search Box ---------------------------------------*/
.search-box .mat-form-field-wrapper .mat-form-field-underline::before, .search-box .mat-form-field-wrapper .mat-form-field-underline .mat-form-field-ripple
  {
    height: 0px;
  }
  .search-box .mat-form-field-wrapper, .search-box .mat-form-field-wrapper .mat-form-field-flex
  {
      padding: 0px 0px 0px 10px;
      border-radius: 8px;
      background:#fff;
  }
  .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix
  {
    border:0px;
    padding-right: 20px;
  }
  .search-box .mat-form-field-wrapper
  {
    border: 2px solid #51469D;
  }
  .search-box
  {
    margin: 1.5% 9.5% 0% 1.5%;
      color: #51469D;
      width: 200px;
  }
  .post-input-search
  {
      position: relative;
    top:5px;
    right:10px;
    color: #51469D;
      /* margin: 10px 10px 0px 0px; */
  }
  .search-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    -webkit-text-fill-color: #51469D !important;
}
/* ------------------------------------------ Filter Box ---------------------------------------*/
.filter-box
{
    cursor:pointer;
    margin: 1.5% 3% 0% 1.5%;
    border: 2px solid #51469D;
    border-radius: 8px;
    background: #fff;
}
.filter-box svg
{
    padding:9px;
}


/* --------------------------------------- Login Component -------------------------------------*/
.right-card
{
    width:30%;
    border-radius: 15px !important;
    background: #51469D;
    border: 3px solid #fff;
}
.right-card.mat-card
{
    height:65%;
    /* background-color: #C4D3F9; */
    border-radius: 10px;
}
.right-card mat-card-header
{
    height: 30%;
}
.login-wrap
{
    height:100vh;
    background-color: #51469D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23C4D3F9'/%3E%3Cstop offset='1' stop-color='%2351469D'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inputs input
{
    caret-color: rgb(255, 255, 255);
}
.inputs
{
    width:70%;
}
.inputs .mat-form-field-wrapper
{
    width:100%;
}
.inputs .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-gap, .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-end
{
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
}
.input-label,.inputs .mat-input-element, .input-label a
{
    color:#ffffff;
    padding-bottom: 5px;
}
.login-btn
{
    width:70%;
    font-size: 15px;
    color:rgb(110, 110, 110);
    margin-top: 5%;
}

.inputs input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #51469D inset !important;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
.pre-input svg
{
    width: 30px;
    height:30px;
    margin-right: 5px;
}
.cardHeader
{
  height: 100%;
  width: 80%;
  color:#fff;
}
.cardHeader h1, p
{
  margin:0px;
}
.cardHeader h1
{
  font-size: 47px;
  font-weight: 500;
  margin: 0px 0px 10px -10px;
}
.cardHeader p
{
  position: absolute;
  font-size: 10px;
  margin: 58px 0px 0px -8px;
}

/* .drives-total
{
    border-radius: 20px !important;
    box-shadow:  -10px 10px 25px rgb(209, 209, 209),
               10px -10px 25px rgb(209, 209, 209) !important;
} */

.header-wrap
{
    height:15vh;
    margin-right:1.7%;
}
.heading h1
{
    margin-left:10%;
    /* margin-bottom:15px; */
} 
.drive-head-card
{
    position: absolute;
    top:25%;
    height: 15vh;
    width: 30%;
}
.active-spin .mat-spinner circle {
    stroke: #3fb53f;
    }
.in-active-spin .mat-spinner circle
{
    stroke: #e05138;
}
.spinner-text
{
    position: absolute;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    overflow: hidden;
    border-color: #4ab6404f;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
}
.in-active-spin .spinner-text {
    border-color: rgba(255, 0, 43, 0.178);
}
.active-spin, .in-active-spin
{
    /* margin-left:15%; */
}