/* You can add global styles to this file, and also import other style files */

/* -------------------------- Common Component ------------------------------*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-typography h1
{
    margin: 0px;
    font-size: 35px;
    font-weight: 600;
}
.h-w-100
{
    height: 100%;
    width:100%;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding:10px 0px 10px 0px;
    }
.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix
{ top:0px;}
.main-container
{
    height: 100vh;
    background: rgb(158, 204, 204);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container{
    height:95vh;
    background: #b5afdfb7;
    margin-right: 20px;
    width:100%;
    border-radius: 0px 10px 10px 0px;
}
.mat-card
{
    height:65%;
    background-color: #C4D3F9;
    padding: 0px !important;
    border-radius: 10px !important;
}
mat-card-header
{
    height: 30%;
}
.mat-card-header-text
{
    margin:0px !important;
}
.mat-button
{
    background: #C4D3F9;
}
    .mat-icon-button, .mat-stroked-button {
    color: #fff;
}
.mat-button .mat-button-focus-overlay {
    background-color: #fff;
    }
.mat-card-content
{
    margin: 0px;
}
/* -------------------------- Mat-Table ------------------------------*/
.mat-table
{
    background-color: transparent;
    overflow: scroll;
}
.mat-table th
{
    background-color: #51469D;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.mat-table tr.mat-header-row
{
    height:45px;
}
.mat-row:nth-child(n) {
    background-color: #ffffff;
  }
.mat-row:nth-child(2n) {
    background-color: #C4D3F9;
  }
.mat-table tr.mat-row
{
    height:40px;
}
.table-wrap
{
    height:400px;
    overflow: auto;
    width:97%;
    border-radius: 10px;
}
.mat-header-cell:first-child {
    border-top-left-radius: 10px;
  }
  .mat-header-cell:last-child {
    border-top-right-radius: 10px;
  }

/* -------------------------- Login Component ------------------------------*/

.right-card
{
    width:30%;
    border-radius: 15px !important;
    background: #51469D;
    border: 3px solid #fff;
}
.login-wrap
{
    height:100vh;
    background-color: #51469D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23C4D3F9'/%3E%3Cstop offset='1' stop-color='%2351469D'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inputs input
{
    caret-color: rgb(255, 255, 255);
}
.inputs
{
    width:70%;
}
.inputs .mat-form-field-wrapper
{
    width:100%;
}
.inputs .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-gap, .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-end
{
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
}
.input-label,.inputs .mat-input-element, .input-label a
{
    color:#ffffff;
    padding-bottom: 5px;
}
.login-btn
{
    width:70%;
    font-size: 15px;
    color:rgb(110, 110, 110);
    margin-top: 5%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #51469D inset !important;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
.pre-input svg
{
    width: 30px;
    height:30px;
    margin-right: 5px;
}
.cardHeader
{
  height: 100%;
  width: 80%;
  color:#fff;
}
.cardHeader h1, p
{
  margin:0px;
}
.cardHeader h1
{
  font-size: 47px;
  font-weight: 500;
  margin: 0px 0px 10px -10px;
}
.cardHeader p
{
  position: absolute;
  font-size: 10px;
  margin: 58px 0px 0px -8px;
}

/* .drives-total
{
    border-radius: 20px !important;
    box-shadow:  -10px 10px 25px rgb(209, 209, 209),
               10px -10px 25px rgb(209, 209, 209) !important;
} */

.header-wrap
{
    height:25vh;
}
.heading h1
{
    margin-bottom:15px;
}
.drive-head-card
{
    width:230px;
    margin-right:2.2%;
    padding:10px 20px !important;
}
.active-spin .mat-spinner circle {
    stroke: #3fb53f;
    }
.in-active-spin .mat-spinner circle
{
    stroke: #e05138;
}
.spinner-text
{
    position: absolute;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    overflow: hidden;
    border-color: #4ab6404f;
    border-radius: 50%;
    border-style: solid;
    border-width: 7.5px;
}
.in-active-spin .spinner-text {
    border-color: rgba(255, 0, 43, 0.178);
}
.active-spin, .in-active-spin
{
    margin-left:15%;
}